
body {
    background: #fafafa;
    line-height: 30px;
    margin: auto 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500; 
}

#name {
    color: grey;
    font-size: 55px;
    font-weight: 700;
    text-align: left;
}

#portfolio {
    color: grey;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.skills {
    text-align: center;
}

.about {
    padding-top: 80px;
}

.about img {
    height: 350px;
    width: auto;
    border-radius: 50%;
}

.about .column-66 {
    padding: 10px 60px;

}

.projects {
    max-width: 900px;
    margin: 0 auto;
}

.projects .card {
    display: inline-block; 
    width: calc(50% - 20px);
    vertical-align: top;
    padding: 10px;
}

.projects img {
    width: 100%;
    height: 240px;
}

.clear {
    clear: both;
}

.fab, .fas{
    display: inline;
    margin-bottom: 15px;
    font-size: 25px;
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

footer p {
    font-size: 12px;
}

* {
    box-sizing: border-box;
}
  
.container {
    padding: 64px;
}

.container.about-photo {
    padding-bottom: 0;
}
  
/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both
}

/* 2/3 column */
.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}

/* 1/3 column */
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }

@media (max-width: 870px) {

    body {
        margin: auto 35px;
    }

    .photo, .maintext {
        float: none;
        width: 100%;
        padding: 0;
    }

    h1 {
        line-height: 60px;
    }
}

@media (max-width: 450px) {

    body {
        margin: auto 20px;
    }

    h1 {
        font-size: 45px;
        margin: 40px 0;
    }

    .photo, .maintext {
        margin-top: 50px;
    }

    nav {
        display: inline-block;
    }

    nav li {
        margin: auto 5px;
    }

    .contactform {
        width: auto;
        margin-left: 0;
    }

    .contactform label, .contactform input, .contactform textarea {
        width: 88%;
    }
}